# CCLoud specif configs
ccloud.props




# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

d3js/

/src/main/docker-compose/graph-db/data/
query-loaded-from-ksql-server/
src/.DS_Store
src/main/.DS_Store
src/main/docker-compose/.DS_Store
src/main/docker-compose/graph-db/conf/
src/main/docker-compose/graph-db/import/
src/main/docker-compose/graph-db/plugins/
src/test/
target/generated-sources/

src/main/resources/log4j.properties
src/main/resources/ccloud.props

/graph-db/
/graphdb/
/out/
/src/main/cluster-state-tools-data/contexts/example1/

# this file contains API-Keys and API-Secrets for all environments
bin/setenv.sh



/insights/worldremit-v1.graphml
